body {
  font-family: "Istok Web", sans-serif;
}

h4,
h3,
h2,
h5 {
  font-family: Montserrat, sans-serif;
}
a:link {
  text-decoration: none;
}
.section-padding {
  padding: 5rem 0;
}
.copyright-padding {
  padding: 3rem 0;
}
.col-margin {
  margin-bottom: 45px;
}
ul {
  list-style: none;
}
/*<====-- header contact info and social icon start --====>*/
#header-contact {
  position: relative;
  background-color: #303036;
  padding: 0.625rem 0;
  font-size: 1rem;
  z-index: 1;
}

.header-top-info ul,
.header-top-links ul {
  display: flex;
  align-items: center;
}
#header-contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#header-contact ul li {
  display: flex;
  align-items: center;
}
#header-contact a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  opacity: 0.8;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
#header-contact a:hover {
  opacity: 1;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.header-top-info li {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.header-top-info li a i {
  margin-right: 0.625rem;
}

.header-call-back-link i {
  font-size: 1rem;
  vertical-align: middle;
}
.social-links li {
  margin-right: 1rem;
}
.social-links li:last-child {
  margin-right: 0;
}
.header-top-links > * {
  margin-left: 2rem;
}
.header-top-btn span {
  border-bottom: 1px dashed;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.header-top-btn a:hover span {
  border-bottom: 1px solid;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
/*<====-- header contact info and social icon end --====>*/

/*<====-- header meniu start --====>*/
.sticky-menu {
  position: sticky;
  top: 0;
  z-index: 10000000;
}
#meniu-bar {
  box-sizing: border-box;
  box-shadow: 0.125rem 0.25rem 1.25rem 0.0875rem rgb(45 45 45 / 13%);
  font-family: "Istok Web", sans-serif;
  background-color: #fff;
  height: 75px;
}
.meniu-nav {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.meniu-nav ul > li {
  text-decoration: none;
  padding-bottom: 20px;
  padding-left: 1.9rem;
}
.meniu-item {
  font-size: 1rem;
  height: 35px;
  color: #212222;
}
.meniu-item a:link {
  color: #303036;
  text-decoration: none;
}

.icon {
  font-size: 18px;
  vertical-align: middle;
  color: #2c7ae7;
}
.meniu-nav ul {
  padding: 0;
  margin: 0;
  float: right;
  list-style: none;
  position: relative;
  top: 10px;
  z-index: 3;
}
.meniu-nav ul {
  cursor: context-menu;
}
.meniu-nav ul li {
  float: left;
}
.meniu-nav ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 40px;
}
.meniu-nav ul > li > ul {
  padding-top: 15px;
}

.meniu-nav ul ul {
  position: absolute;
  top: 50px;
  background-color: #fff;
  box-shadow: 0.125rem 0.25rem 1.25rem 0.0875rem rgb(45 45 45 / 13%);
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -ms-transition: top 0.3s;
  -o-transition: top 0.3s;
}

.meniu-nav ul ul li {
  position: relative;
  margin: 0;
  width: 150px;
  padding: 0 1.5625rem;
  height: 35px;
  float: none;
  display: list-item;
}

.logo img {
  /* width: 36px; */
  height: 35px;
  object-fit: cover;
  vertical-align: middle;
  /* margin-right: 7px; */
}
.logo span {
  font-size: 1.125rem;
  color: #303036;
  text-decoration: none;
  font-family: "Montserrat";
}
.logo {
  margin-bottom: 1.25rem;
  align-items: center;
}

.menu-list-to span::after {
  content: attr(data-title);
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  width: 100%;
  transition: all 0.4s;
  color: #2c7ae7;
  text-align: left;
}
.menu-list-to > span {
  transition: all 0.5s ease;
}
.menu-list-to {
  position: relative;
  display: flex;
  color: black;
  align-items: center;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}

.menu-list-to:hover > span {
  transform: translateY(100%);
}
.menu-profil {
  color: black;
  font-size: 17px;
}
.menu-profil i{
  font-size: 15px;
  margin-left: 5px;
  color: #303036;
}

.menu-search{
  display: flex;
  align-items: center;
  vertical-align: middle;
  position: relative;
  bottom: 3px;
}
.menu-search i {
  position: absolute;
  font-size: 1.375rem;
  width: 1.375rem;
  height: 1.375rem;
  font-weight: 100;
  color: black;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.menu-search i:hover {
  color: rgba(72, 72, 235, 0.897);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.menu-search input {
  width: 200px;
  color: #0a33e6;
  border: 1px #c6cdce solid;
  outline: 0;
  border-radius: 6px;
  padding-left: 29px;
}
.menu-search input:focus {
  border: 1px #568ad3 solid;
}

/*<====-- header meniu end --====>*/

.section-heading {
  margin-bottom: 56px;
  text-align: center;
}
.section-heading-h2 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0px;
  margin-top: 10px;
  font-family: Montserrat, sans-serif;
  color: #3b3b44;
}

.bttn {
  width: 250px;
  background: linear-gradient(to right, #568ad3 0, #0f58bd 100%);
  color: white;
  padding: 13px 22px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  outline: 0;
  border: 1px #917cddec solid;
}
.bttn i {
  height: 21px;
  width: 20px;
  font-size: 20px;
  vertical-align: middle;
  transition: all 0.5s ease;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}
.bttn:hover > i {
  transition: all 0.5s ease;
  transform: rotateY(180deg);
}
.bttn:hover {
  color: white;
  background: linear-gradient(to left, #568ad3 0, #0f58bd 100%);
  transition: ease-out 0.2s all;
  -webkit-transition: ease-out 0.2s all;
  -moz-transition: ease-out 0.2s all;
  -ms-transition: ease-out 0.2s all;
  -o-transition: ease-out 0.2s all;
}
.bttn-row {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  margin-right: 20px;
  text-align: center;
}
.bttn-row .fas {
  font-size: 14px;
}
/*<====-- Services Section End --====>*/


/* News section start */
.newsbox {
  margin-bottom: 20px;
}

.news-item {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  color: #303036;
  height: 100%;
  transition: all 0.25s;
}
.news-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #d4d4e1;
  overflow: hidden;
  pointer-events: none;
  transition: all 0.25s;
}
.news-item:hover {
  box-shadow: 2px 4px 20px 1px rgba(45, 45, 45, 0.13);
}
.news-item a:hover {
  text-decoration: none;
  color: #2c7ae7;
}
.news-img img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  vertical-align: middle;
  border-style: none;
}
.mews-img {
  display: block;
  height: 320px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.news-info {
  position: relative;
  padding: 2.1875rem 1.25rem 1.25rem;
}
.news-day {
  position: absolute;
  left: 50%;
  top: -1.125rem;
  height: 2.25rem;
  line-height: 2.25rem;
  padding: 0 0.625rem;
  background-color: #2c7ae7;
  color: #ffffff;
  font-size: 0.8125rem;
  border-radius: 6px;
  transform: translateX(-50%);
}
.news-item-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.news-item-title a {
  text-decoration: none;
  color: #303036;
  transition: all 0.25s;
}
.news-item-title h4{
  font-size: 17px;
}
.news-item-text {
  color: #63636b;
}
/* News section end */

/* footer section start */
#footer,
#copyright {
  border-bottom: solid 1px #72727c;
  background-color: #303036;
  width: 100%;
  color: #fff;
}
#footer h4 {
  font-family: "Montserrat";
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
  opacity: 0.9;
  font-weight: bold;
}
.footer-item span {
  color: white;
}
.company-sosial-media {
  display: flex;
  font-size: 18px;
  color: white;
  margin-top: 50px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
}
.company-sosial-icon {
  padding: 0px 1px;
  padding-top: 6px;
  text-align: center;
  width: 35px;
  border: 1px solid #868691;
  background-color: #303036;
  margin: 0px 4px;
  transition: ease-out 0.3s all;
  border-radius: 6px;
}
.company-sosial-icon:hover {
  background-color: #ecf7f6;
  border: 1px solid #ecf7f6;
  color: #303036;
  transition: ease-out 0.3s all;
}
.company-sosial-icon i {
  color: white;
}
.company-sosial-icon:hover i {
  color: #303036;
}
.company-info {
  margin-bottom: 2rem;
  text-align: justify;
  padding-right: 100px;
  line-height: 25px;
  color: #c6cdce;
}

.company-contacts h4 {
  margin-top: 0px;
}

.company-contacts-item {
  color: #c6cdce;
}
.company-contacts-item ul {
  list-style: none;
  padding: 0;
}
.company-contacts-item li {
  margin-bottom: 1rem;
}
.company-contacts-item li {
  margin-bottom: 1rem;
}
.footer-contact i {
  font-size: 1.18rem;
  width: 1.375rem;
  height: 1.375rem;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}
.footer-contact-info a {
  color: #ffffff;
  opacity: 0.8;
}
.footer-contact-info a:hover {
  text-decoration: underline;
}
.footer-contact {
  margin-bottom: 2rem;
}

.forum {
  width: 100%;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.8;
  padding: 15px 10px;
  margin-bottom: 20px;
  border-radius: 0.375rem;
  border: 1px solid #d4d4e1;
  outline: 0;
  background-color: #303036;
}
.forum:focus {
  border: solid 1px #568ad3;
}

/* footer section end */
/* footer Copyright start */
.copyright-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #c6cdce;
}
.conditions,
.privacy {
  margin-right: 8px;
  color: #c6cdce;
  border-bottom: dashed #c6cdce 1px;
}
.conditions:hover,
.privacy:hover {
  border-bottom: solid #c6cdce 1px;
}
/* footer Copyright end */
.geriqayt {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: fixed;
  z-index: 100000000000000000;
  background-color: #fffffff8;
  right: 5px;
  bottom: 5px;
  border: #b7b7be 1px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.geriqayt i {
  color: #2c7ae7;
  margin-left: 7px;
  margin-top: 7px;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}
